<%= form_for(@wallet) do |f| %>
  <% if @wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
      <% @wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label(:wallet, :name) %>
    <%= text_field(:wallet, :name, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label(:wallet, :public_key) %>
    <%= text_field(:wallet, :public_key, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label(:wallet, :private_key) %>
    <%= text_field(:wallet, :private_key, class: "form-control") %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
