<div class="jumbotron">
  <%= form_tag send_bitcoins_url(@wallet) do%>
    <h2>Send money</h2>
    <div class="form-group">
      <%= label_tag(:send_address, "Send To") %>
      <%= text_field_tag(:send_address, '', class: "form-control", placeholder: "Enter full Bitcoin Address", required: true) %>
    </div>
    <div class="form-group">
      <%= label(:amount, "Total amount") %> (BTC)
      <%= number_field_tag(:amount, '' , class: "form-control", placeholder: "Format 0.1", required: true, autocomplete: 'off', step: '0.00000001') %>
    </div>
    <div class="form-group">
      <%= label(:round, "Round amount") %><br />
      <input class="form-control" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="8" data-slider-step="1" data-slider-value="8" name="round" />
    </div>
    <div class="form-group">
      <span class='example'>No amount entered</span>
    </div>
    <div class="form-group">
      <%= label(:tx_fee, "TX Fee") %> (BTC)
      <%= text_field_tag(:tx_fee, '0.0001' , class: "form-control", placeholder: "Format 0.1") %>
    </div>
  

  <p><input type='submit' class="btn btn-primary btn-lg" role="button" value='Pay now' /></p>
  <%= hidden_field_tag(:rounded_amount, 0) %>
  <% end %>
</div>