<div class="jumbotron">
  <%= form_tag send_bitcoins_url(@wallet) do%>
    <h2>Send money</h2>
    <div class="form-group">
      <%= label_tag(:send_address, :send_to) %>
      <%= text_field_tag(:send_address, '', class: "form-control") %>
    </div>
    <div class="form-group">
      <%= label(:wallet, :amount) %> (BTC)
      <%= text_field_tag(:amount, '' , class: "form-control", placeholder: "0.1") %>
    </div>
    <div class="form-group">
      <%= label(:wallet, :round) %><br />
      <input class="form-control" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="7" data-slider-step="1" data-slider-value="7"/>
    </div>
    <div class="form-group">
      <span class='example'></span>
    </div>
  <% end %>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Pay now</a></p>
</div>