<p id="notice"><%= notice %></p>

<div class="row">

  <h1>Listing Wallets</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @wallets.each do |wallet| %>
          <tr class='table-striped'>
            <td><%= link_to wallet, wallet %></td>
            <td><%= link_to 'Show', wallet, class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_wallet_path(wallet), class: "btn btn-info" %></td>
            <td><%= link_to 'Destroy', wallet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Wallet', new_wallet_path, class: "btn btn-success" %>
