<% if notice %>
<div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>


<div class="row">
  <div class="col-md-12">
  	<h2><%= @wallet.name %></h2>
  </div>
</div>
<%= render 'send_bitcoins' %>
<div class="row">
	<div class="col-md-12">
		<h3>Addresses<h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Received</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class='table-striped'>
        <% @wallet.addresses.each do |address| %>
          <tr class='table-striped'>
            <td><%= address %></td>
          </tr>
          <% address.outputs.each do |output| %>
          <tr >
            <td class='text-right'><%= output.value_mbtc %> <i>mBTC</i></td>
            <td><%= output.created_at %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">

  <%= link_to 'Edit', edit_wallet_path(@wallet), class: "btn btn-info" %> |
  <%= link_to 'Back', wallets_path, class: "btn btn-default" %>
</div>
<script>


</script>
<style>
#ex1Slider .slider-selection {
  background: #BABABA;
}</style>
